In [3]:

%matplotlib inline
import pandas as pd

import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import mpld3
mpld3.enable_notebook()


path= '../data/science_10_15.csv'
science_df =  pd.read_csv(path)
# science_df

   LOCATION    INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value  Flag Codes
0       CAN  PISASCIENCE     TOT  MEANSCORE         A  2012    525         NaN
1       CAN  PISASCIENCE     TOT  MEANSCORE         A  2015    528         NaN
2       FIN  PISASCIENCE     TOT  MEANSCORE         A  2012    545         NaN
3       FIN  PISASCIENCE     TOT  MEANSCORE         A  2015    531         NaN
4       FRA  PISASCIENCE     TOT  MEANSCORE         A  2012    499         NaN
5       FRA  PISASCIENCE     TOT  MEANSCORE         A  2015    495         NaN
6       DEU  PISASCIENCE     TOT  MEANSCORE         A  2012    524         NaN
7       DEU  PISASCIENCE     TOT  MEANSCORE         A  2015    509         NaN
8       JPN  PISASCIENCE     TOT  MEANSCORE         A  2012    547         NaN
9       JPN  PISASCIENCE     TOT  MEANSCORE         A  2015    538         NaN
10      KOR  PISASCIENCE     TOT  MEANSCORE         A  2012    538         NaN
11      KOR  PISASCIENCE     TOT  MEANSCORE         A  2015    516         NaN
12      MEX  PISASCIENCE     TOT  MEANSCORE         A  2012    415         NaN
13      MEX  PISASCIENCE     TOT  MEANSCORE         A  2015    416         NaN
14      GBR  PISASCIENCE     TOT  MEANSCORE         A  2012    514         NaN
15      GBR  PISASCIENCE     TOT  MEANSCORE         A  2015    509         NaN
16      USA  PISASCIENCE     TOT  MEANSCORE         A  2012    497         NaN
17      USA  PISASCIENCE     TOT  MEANSCORE         A  2015    496         NaN
18      HKG  PISASCIENCE     TOT  MEANSCORE         A  2015    523         NaN

In [7]:
clean_sci = science_df.drop(['Flag Codes'], axis=1)